/*.top-nav{
    background-color: blue;
    overflow: hidden;

}

.top-nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .nav-link a:hover {
    background-color: #ddd;
    color: black;
  }*/

  .bg-company-red {
    background-color: chocolate;
  }
.my-primary{
  
  background-color: rgb(20, 9, 119);
}


.bar {
  border: none ;
  background-color: rgb(29, 27, 122) ;
  height: 1.5px;
  margin: none;
  padding: none;
}
/*.nav-link{
  padding-bottom: 0px;
}
.carousel-inner img {
  height: 100px;
  width: 100px;
}*/

@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
body {
  font-family: "optima" ;
  font-size: 1.4rem;
}
/*.carousel 
.carosel-inner
.carousel-item img{
  width: auto;
  height: 100%;
}
.carousel{
  height: 600px;
}*/

footer {
  color:rgb(29, 27, 122);
}

footer .bar {
  border: none ;
  background-color: rgb(29, 27, 122) ;
  height: 1.5px;
  margin: none;
  padding: none;
}
body a {
  color: rgb(29, 27, 122);
}