/*.top-nav{
    background-color: blue;
    overflow: hidden;

}

.top-nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .nav-link a:hover {
    background-color: #ddd;
    color: black;
  }*/

/*nav-bar links color*/
.navbar .navbar-collapse .navbar-nav  li  a {
  color: rgb(1,87,174) !important;
  font-weight: bold;
  font-size: 1rem;
  font-family: 'optima' ;
  letter-spacing: 1px;
  font-stretch: extra-expanded;
}

.navbar .navbar-collapse .navbar-nav  .register-link{
   color: red !important;
 }
/*nav-bar links hover color*/
.navbar .navbar-collapse .navbar-nav  li  a:hover {
  color: red !important;
}

 /* .register-link a:hover{
  color: red !important;
}
*/
.bar {
  border: none ;
  background-color: rgb(1,87,174) ;
  height: 6px;
  

}
/*.nav-link{
  padding-bottom: 0px;
}
.carousel-inner img {
  height: 100px;
  width: 100px;
}*/

@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
body {
  font-family: "optima" ;
  font-size: 0.7rem;
 /* background-color: rgb(180, 180, 180);
  background-color: rgb(74, 141, 203);*/
  font-weight: normal;
  font-size: medium;
  letter-spacing: 1px;
  font-stretch: extra-expanded;
  color: white;
}/*
html, body {
  height: 100%;
  margin: 0;
}
.carousel 
.carosel-inner
.carousel-item img{
  width: auto;
  height: 100%;
}
.carousel{
  height: 600px;
}*/

footer {
  height: 120px;
  background-color:rgb(1,87,174);
  color: white;
  font-size: small;

}


/*body a {
  color: rgb(0, 35, 158);
  font-weight: bold;
  font-size: larger;
}
*/
.dislplay-2{
  margin-bottom: 50px;
  font-size: 70px;
}
h3{
  margin-bottom: 50px;
  font-size: 40px;
}
.slide-btn{
  margin-bottom: 110px;
  
}
/*footer*/
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6.5rem;            /* Footer height */
  background-color: rgb(1,87,174);
}
.footer-info p {
  font-size: small;
  color: white;
}

/*.carousel-caption{
  position: absolute;
  top: 50%;
  transform: translateY(-50);
}*/

.course-btn{
  margin-top: 220px;
}

.navbar-brand{
  padding-bottom: 0px;
  margin-bottom: 0px;
}

span.material-icons{
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 2.9rem;
    display: inline-block;
    line-height: 0;
    text-transform: none;
    letter-spacing: 4rem;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    text-align: left;
    padding-left: 3px;
}
/*navbar background image*/
nav{
  background-image: url(./img/american\ flag02.png);
}

.bi-info-square{

  margin-top: 0px;
}

/*Accordion
.accordion{
  width: 76%;
  margin-top: 100px;
}

.card-header{
  background-color: rgb(29, 27, 122) ;
 
}

.btn-accordion{
  color: white;
}
.btn-accordion:hover{
  color: red;
  text-decoration: none;
}*/

.schedule-block{
  background-color: rgb(1,87,174);
  color: white;
  width: 70%;
  height: 50px;
  margin-left: 100px;
  margin-top: 90px;
}

.schedule-text{
margin-left: 40px;
text-decoration: underline;
font-weight: bold;
letter-spacing: 2px;
}

.schedule-section{
  border: solid 1px rgb(255, 255, 255);
  width: 70%;
  margin-left: 100px;
  border-radius: 2px;
  background-color: white;
}
.click-here-link {
  color: white;
}
.click-here-link:hover{
  color: red;
  text-decoration: none;
}

.schedule-section span{
  color: red;
  font-weight: bold;
}

.form-control{
  width: 200px;
}

.input-1{
  margin-left: 163px;
}

.input-2{
  margin-left: 137px;
}
.input-3{
  margin-left: 136px;
}

.input-4{
  margin-left: 107px;
}
.input-5{
  margin-left: 46px;
}
.input-6{
  margin-left: 134px;
}
.input-7{
  margin-left: 138px;
}
.input-8{
  margin-left: 111px;
}
.input-10{
margin-left: 64px;
}
.input-11{
  margin-left: 82px;
  margin-right: 40px;
}
.input-12{
  margin-left: 5px;
  height: 38px;
}
.input-13{
  margin-left: 77px;
}
.input-14{
  margin-left: 245px;
}
.input-15{
margin-left: 133px;
}
.input-16{
margin-right: 11px;
}
.input-student-name{
  margin-left: 29px;
}
#comment{
  margin-left: 36px;
  
}
.label-1{
margin-left: 80px;
margin-right: 0px;
padding-right: 0px;
}
.label-2{
  margin-left: 80px;
  margin-right: 48px;
}
.label-3{
  margin-right: 21px;
}
.form-title{
  font-size: xx-large;
}
.text-link{
  color: black;
}
.about-us-container{
  color: white;
}
.about-us-body{
  background-image: url(./img/ABOUTUS-BACKGROUND.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 1282px 800px;
}
.about-us-text{
  line-height: 1.8;
  color:rgb(255, 255, 255);
}

/* .frms{ 
  background-image: url(./img/backgroud\ form\ GAM.png);
}*/

.forms-bar{
  background-color: white;
  box-shadow: 0px 2px 5px white;
}

html {
  scroll-behavior: smooth;
}





.float{
	position:fixed;
	width:110px;
	height:110px;
	bottom:7px;
  right:10px;
  cursor: pointer;
}

.float img{
  width: 100%;
  height: 100%;
}

.course-img{
  box-shadow:1px 1px 30px 4px rgb(0, 0, 0);
}

.gam-filter{
  height: 100;
  width: 100;
}

.modal-content{
  background-color: rgb(13, 54, 77);
}

.textarea{
  width: 420px;
}

.gam-logo{
  height: 150px;
  width: 150px;
  margin-left: 200px;
  margin-top: 20px;
}
.card-title{
  font-weight: bolder;
  color: red;
  
}

.course-desc{
 /*background-color: rgb(255, 255, 255);*/ 
  height: 2700px;
  width: 900px;
  border-radius: 30px;
  background-image: url(./img/our-courses-bg-04.png);
  box-shadow: 1px 1px 30px 4px black;
}


.course-title{
  text-shadow: 2px 2px 3px black ;
  font-weight: bold;
}

.english{
  color: rgb(1,87,174);
}

/*.cours-desc-container{
  box-shadow: 1px 1px 30px  black;
}*/